# Learning Python Basic Fundamentals

In [2]:
print("Hello World")
print("Hello Coders!")

Hello World
Hello Coders!

# 1. Variables

In [4]:
# variables define that memory location where your data is stored !
name = "Abdullah"
age = 25
print(name)
print(age)

Abdullah
25

In [5]:
# we can also change the values of the variables
name = "Danish"
age = 22
print(name)
print(age)

Danish
22

In [6]:
age = 22.0 # float number
isAdult = True # boolean value
print(isAdult)

True

# 2. Input

In [8]:
name = input("What is your name ?")
print(name)

What is your name ? Umair

Umair

**Concatenation:**

In [10]:
print("Hello " + name)

Hello Umair

# 2. Type Conversion

In [12]:
old_age = int(input("Enter your old age: "))
new_age = old_age + 2
print(new_age)

Enter your old age:  28

30

In [13]:
# float()
# str()
# bool()

**Type Checking in Python**

In [15]:
print(type(new_age))

<class 'int'>

# 3. Print Sum of two numbers

In [17]:
number1 = input("Enter First Number: ")
number2 = input("Enter Second Number: ")
sum = int(number1) + int(number2)
print("The sum of both numbers is: " + str(sum))

Enter First Number:  5
Enter Second Number:  2

The sum of both numbers is: 7

# 4. Strings

In [19]:
name = "Umair"
print(name.upper())
print(name.lower())
print(name)

UMAIR
umair
Umair

In [20]:
print(name.find('i'))

3

In [21]:
print(name.replace("Umair", "Usman"))
print(name)

Usman
Umair

# 5. Keywords

In [23]:
print("U" in name)

True

# 6. Arithmetic Operators

In [25]:
print(5+2)
print(5-2)
print(5*2)
print(5**2)
print(5/2)
print(5//2)
print(5%2)

7
3
10
25
2.5
2
1

# 7. Shortcuts

In [27]:
i = 5
i = i + 2
i += 2
i -= 2
i *= 2
i /= 2

# 8. Comments

In [29]:
# This is my first comment
# This is my another comment

# 8. Comparison Operators

In [31]:
print(3 > 2)
print(3 < 2)
print(3 >= 2)
print(3 <= 2)
print(3 == 2)
print(3 != 2)
print(3 > 2 or 2 < 1) 
print(3 > 2 and 2 < 1) 
print(not 3 > 2)

True
False
True
False
False
True
True
False
False

# 9. If-Else Statements

In [33]:
age = 16

if age >= 18:
    print("You are an adult.")
    print("You can vote")

else:
    print("You can not vote")

You can not vote

In [34]:
age = 18

if age >= 18:
    print("You are an adult.")
    print("You can vote")

elif age < 18 and  age > 3:
    print("You are in school")
    print("You can not vote")

else:
    print("Thanyou!")

You are an adult.
You can vote

# 10. Range

In [37]:
numbers = range(5)  # 5 is not included as the last number of the range doesn't include in the range 
print(numbers)

range(0, 5)

# 11. While Loop

In [46]:
i = 1 
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [48]:
i = 1 
while i <= 5:
    print(i * '*')
    i += 1

*
**
***
****
*****

In [54]:
i = 5 
while i >= 1:
    print(i * '*')
    i -= 1

*****
****
***
**
*

# 12. For Loop

In [58]:
# we use for loop in python to get the items of a particular object or sequence 
for i in range(5):
    print(i)

0
1
2
3
4

# 13. Lists

In [65]:
marks = [56, 23, 89, 85]
print(marks)

[56, 23, 89, 85]

**Complex Datatypes lists**

In [72]:
list = [56, 23, "Maths", "Chemistry", True, False, 22.0, 66.2]
print(list)

[56, 23, 'Maths', 'Chemistry', True, False, 22.0, 66.2]

In [74]:
marks = [56, 23, 89, 85]
print(marks[0])
print(marks[3])
print(marks[-1])
print(marks[-2])

56
85
85
89

In [78]:
marks = [56, 23, 89, 85]
print(marks[0:2])
print(marks[1:4])

[56, 23]
[23, 89, 85]

# 14. For loop in Lists

In [80]:
marks = [56, 23, 89, 85]
for score in marks:
    print(score)

56
23
89
85

In [87]:
marks.append(99)  # adds the element at the end of the list

In [89]:
print(marks)

[56, 23, 89, 85, 99, 99]

In [91]:
marks.insert(2, 66)
print(marks)

[56, 23, 66, 89, 85, 99, 99]

In [93]:
print(99 in marks)

True

In [95]:
len(marks)

7

In [97]:
marks.clear()
print(marks)

[]

# 15. Break and Continue

In [104]:
students = ["Abdullah", "Sameer", "Danish", "Umair", "Usman"]

for student in students:
    if student == "Danish":
        break 
    print(student)

Abdullah
Sameer

In [106]:
students = ["Abdullah", "Sameer", "Danish", "Umair", "Usman"]

for student in students:
    if student == "Umair":
        continue 
    print(student)

Abdullah
Sameer
Danish
Usman

# 16. Tuple

In [109]:
# tuples are unchangeable and we can not assign or change any element in the tuples

marks = (56, 23, 89, 85)
marks[0] = 99

TypeError: 'tuple' object does not support item assignment

In [115]:
marks = (56, 23, 89, 85)
print(marks.count(89))

1

In [117]:
print(marks.index(85))

3

# 17. Sets

In [122]:
# sets can not have duplicate values adn they can not be iterated through index
marks = {56, 23, 89, 85, 85, 85}
print(marks)

# sets are unordered

{56, 89, 85, 23}

# 18. Dictionary

In [131]:
dict = {
    "name": "Noman",
    "English": 95,
    "Maths": 65,
    "Parent_Name": "Hassan"
}

print(dict["Maths"])

65

In [133]:
dict["Physics"] = 89
print(dict)

{'name': 'Noman', 'English': 95, 'Maths': 65, 'Parent_Name': 'Hassan', 'Physics': 89}

# 19. Functions

**1. Built-in Functions**

In [137]:
# for example
int()
str()
bool()
float()

0.0

**2. Module Functions**

In [142]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [154]:
import math
print(math.sqrt(16))

4.0

In [156]:
print(math.ceil(5.5))
print(math.floor(5.5))

6
5

**3. User-defined Functions**

In [159]:
def print_sum(first, second):
    print(first + second )

print_sum(1, 2)

3